@font-face {
    font-family: poppins;
    ;
    src: url(./assets/Poppins-Regular.ttf);
}
@font-face {
    font-family: avenii;
    src: url(./assets/Avenir\ Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    overflow-x: hidden;
}

.hero {
    padding: 1px 2px;
    background-color: #D7F5DC;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 450px;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;

}

li,
a {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.head1 {
    padding: 30px 100px;
}

#agcol {
    color: #F55F1D;
}

#DesAg {
    font-weight: 700;
    color: #000000;
}

.nav1 {
    font-size: 15px;
    font-weight: 500;
}

.loginbtn,
.regbtn {
    width: 93px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #20B15A;
    background: none;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}

.regbtn {
    background-color: #20B15A;
    color: #FFFFFF;
    width: 105px;
}

.regbtn:hover {
    animation: btn-animation 1s forwards;

}


.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-right: 50px;
}

.hero-main-left {
    padding: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#increase {
    font-size: 45px;
    font-weight: 700;
}

#helpPara {
    font-size: 20px;
    font-weight: 500;
}

#get-started {
    width: 105px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #20B15A;
    background: #20B15A;
    color: #fff;
    font-weight: 500;

    cursor: pointer;
}

#get-started:hover {
    animation: btn-animation 1s forwards;

}

@keyframes btn-animation {
    0% {
        background-color: #20B15A;
        color: #FFFFFF;
    }

    100% {
        background: none;
        color: #20B15A;
    }
}

#logos {
    padding: 40px 20px;
    background-color: #fff;
    display: flex;
    gap: 200px;
    width: 200vw;
    animation: logo-animation 5s linear infinite;
}

@keyframes logo-animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.threeBox {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.what-we-de {
    padding: 100px;
}

#what-txt {
    color: #20B15A;
    font-size: 20px;
    font-weight: 500;
}

#we-provide-txt {
    font-weight: 600;
    font-size: 30px;
    width: 495px;
    line-height: 100%;
    padding-top: 18px;
}
.box{
width: 380px;
height: 415px;
}
.head-wht-we-do{
    width: 240px;
    height: 36px;
    font-size: 24px;
    font-weight: 600;
}
.head-wht-we-do1{
        width: 272px;
    height: 10px;
    font-size: 24px;
    font-weight: 600;
}
.head-wht-we-do2{
    width: 297px;
    font-size: 24px ;
    font-weight: 600;
}
.boxpara{
    font-family: avenii;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
    width: 299px;
    height: 50px;
    padding-top: 20px;
}
.achievement-section{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: -120px;
}
.achieve1 {
    border-right: 1px solid rgb(128, 126, 126);
    margin-right: 30px;
    padding-right: 20px;
}
.achieve1:last-child {
    border-right: none;
}
.head-acheive{
    font-size: 40px;
    font-weight: 800;
    color: #20B15A;
    font-family: avenii;
}
#portfolio{
    padding: 100px;

}
#portfolio-box{
    display: flex;
    gap: 40px;
    padding: top 30px;
    width: 554px;
    padding-top: 30px;
}
#portfolio-box2{
    display: flex;
    gap: 40px;
    width: 554px;
    padding-top: 50px;
}
.portfolio-txt{
    font-size: 15px;
    font-weight: 400;
    font-family: avenii;
}
.portofolio-h1{
    font-size: 23px;
    font-weight: 600;
}
#testimonial{
    padding: 100px;
}
.arrow{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    justify-content: center;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}
.arrow:hover{
    border: 3px solid #D7F5DC;
    background-color: #D7F5DC;
    
}
.right{
    background-color: #D7F5DC;
    border: none;
}
.right:hover{
    background: none;
    border: 1px solid black;

    
}
.testimonial-up{
    display: flex;
    gap: 480px;
}
.twoarrows{
    display: flex;
    gap: 50px;
}
.thank-you-avatar{
    display: flex;
    gap: 20px;
    
}
.thankyou{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 70px;
    padding-right: 1000px; */
    padding: 100px 100px;
    gap: 10px;
}
.thank-you1{
  
    width: 470px;
    height: 260px;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-content: center;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(52, 51, 51);
    border: none;
    
}
.thank-you-txt{
    width: 390px;
    height: 150px;
    font-size: 18px;
}
#subscribe{
    text-align: center;
}
.subscribe-h1{
    width: 495px;
    height: 90px;
    margin-left: 495px;
    padding-top: 20px;
}
.email-txt{
    font-family: avenii;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
    height: 50px;
    padding-top: 30px;

}
.form{
    border: 2px solid black;
    gap: 265px;
    margin-top: 20px;
    margin-left: 450px;
    width: 596px;
    height: 62px;
    display: flex;
    align-items: center;
    border-radius: 14px;
   
}
.input-txt{
    background: none;
    border: none;
    padding-left: 20px;
    font-size: 14px;
}
.subscribe-btn{
    background-color: #F55F1D;
    width: 130.64913940429688px;
    height: 52.70322799682617px;
    border-radius: 14px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: avenii;
    border: none;
    font-size: 16.2px;
    cursor: pointer;
}
footer{
    background-color: #00CA72;
    font-family: avenii;
    font-weight: 400;

}
.footer1{
    padding: 100px;
    width: 1440px;
    height: 441px;
    background-color: #00CA72;
    display: flex;
    gap: 280px;
}
.footer-txt{
    width: 328px;
    height: 81px;
    font-size: 20px;
    font-weight: 400;

}
.web-logo-div{
    width: 328;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.quick-links-div{
display: flex;
flex-direction: column;
gap: 20px;
width: 150px;
}
.address-txt{
    width: 258px;
}
.copy-right{
    padding-left: 100px;
    padding-bottom: 40px;
    font-size: 20px;
    font-family: avenii;
    font-weight: 400;
}
.food:hover img {
    
}